In [5]:
# Given a string, return a new string where "not " has been added to the front.
# However, if the string already begins with "not", return the string unchanged.


def not_string(str):
    # the lenght of the word 'not' == 3
    # using slicing [:3] to find the first string'not
    if len(str)>=3 and str[:3] == 'not':
        return str
    else:
        return 'not ' + str

In [6]:
not_string('candy')

'not candy'

In [7]:
not_string('not bad')

'not bad'

In [8]:
not_string('x')

'not x'

In [9]:
# Given a non-empty string and an int n,
# return a new string where the char at index n has been removed.
# The value of n will be a valid index of a char in the original string
# (i.e. n will be in the range 0..len(str)-1 inclusive).

def missing_char(str,n):
    # Seperate the string using slicing, based on the int(n)
    # Once you establish that. attach it to a var and concatenate them
    fr = str[:n]
    back = str[n+1:]
    return fr+back

In [10]:
missing_char('kitten', 1)

'ktten'

In [16]:
# Given a string, return a new string where,
# the first and last chars have been exchanged.

def front_back(str):
    if len(str)<=1:
        return str
    mid = str[1:-1]
    return str[-1]+mid+str[0]

In [17]:
front_back('code')

'eodc'

In [18]:
front_back('eric')

'crie'

In [21]:
# return the string backwards.

def backword(str):
    return str[::-1]

In [22]:
backword('eric')

'cire'

In [23]:
# Given a string, we'll say that the front
# is the first 3 chars of the string.
# If the string length is less than 3,
# the front is whatever is there.
# Return a new string which is 3 copies of the front.

#if the front 3 word is <=3 return the str *3
#if the front 3 word is >=3 return the front 3 words *3

def front3(str):
    if len(str)<=3:
        return str*3
    else:
        return str[:3]*3

In [24]:
front3('Java')

'JavJavJav'

In [25]:
front3('Chocolate')

'ChoChoCho'

In [26]:
front3('abc')

'abcabcabc'

In [28]:
# We have two monkeys, a and b, and the parameters
# a_smile and b_smile indicate if each is smiling.
# We are in trouble if they are both smiling or if neither
# of them is smiling. Return True if we are in trouble.

def monkey_t(a,b):
    if a == b:
        return True
    else:
        return False

In [30]:
monkey_t(True, True)

True

In [31]:
monkey_t(True, False)

False

In [33]:
# Given two int values, return their sum.
# Unless the two values are the same,
# then return double their sum.


def sum_d(a,b):
#     if a == b:
#         return (a+b)*2
#     else:
#         return (a+b)
#     can be shorthen.
    sum = a+b
    if a==b:
        return sum*2
    else:
        return sum

In [35]:
sum_d(1, 2)

3

In [36]:
sum_d(2, 2)

8

In [37]:
sum_d(4,4)

16

In [38]:
def myfunc(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print ('My fruit of choice is {}'.format(kwargs['fruit']))

In [39]:
myfunc(fruit = 'apple')

{'fruit': 'apple'}
My fruit of choice is apple

In [40]:
def myfunc(*args):
    num = []
    for item in args:
        if item % 2 == 0:
            num.append(item)
    return num
    # remember to add an empty list to a variable.
    # after the loop .append it into the variable.
    # then return the variable

In [41]:
myfunc(5,6,7,8,10)

[6, 8, 10]

In [51]:
def myfunc(x):
    
    out = []
    
    for i in range(len(x)):
        if i % 2 == 0:
            out.append(x[i].upper())
        else:
            out.append(x[i].lower())
    return ''.join(out)

In [52]:
myfunc('Anthropomorphism')

'AnThRoPoMoRpHiSm'

In [59]:
def lesser_of_two_evens(a,b):
    
    if a % 2 == 0 and b % 2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [60]:
lesser_of_two_evens(2,4)

2

In [61]:
lesser_of_two_evens(2,5)

5

In [70]:
def animal_crackers(text):
    split = text.split()
    return split[0][0] == split[1][0]

In [71]:
animal_crackers('Levelheaded Llama')

True

In [72]:
animal_crackers('Crazy Kangaroo')

False

In [73]:
def makes_twenty(n1,n2):
     return (n1 + n2 == 20) or (n1 == 20) or (n2 == 20)

In [74]:
makes_twenty(20,10)

True

In [75]:
makes_twenty(12,8)

True

In [76]:
makes_twenty(2,3)

False

In [100]:
def old_macdonald(name):
#     if len(name) > 3:
#         return name[:3].capitalize() + name[3:].capitalize()
#     else:
#         return ('Name is too short')
    return name[:3].capitalize() + name[3:].capitalize()

In [101]:
old_macdonald('macdonald')

'MacDonald'

In [108]:
def master_yoda(text):
    return ' '.join(text.split()[::-1])

In [109]:
master_yoda('I am home')

'home am I'