In [1]:
def name_function():
    print('hello')

In [2]:
name_function()

hello

In [7]:
def say_hello(name):
    print('hello '+ name)

In [8]:
say_hello('Jose')

hello Jose

In [9]:
# You can attach a temporary placeholder inside
# the function parameters

def say_hello(name='NAME'):
    print( 'hello '+ name)
    
    
say_hello()

hello NAME

In [11]:
# Using the return keyword

def say_hello(name='Name'):
    return 'hello '+ name

result = say_hello()
print(result)

hello Name

In [12]:
def add(n1,n2):
    return n1+n2

result = add(10,20)
print (result)

30

In [26]:
# Find out if the word 'dog' is in the string.

def dog_string(myst):
    return 'dog' in myst.lower()
        
        
dog_string('My dog ran away')
# print(dog_string)

True

In [28]:
def pig_latin(word):
    
    first_letter=word[0]
    
    #check if vowel
    
    if first_letter in 'aeiou':
        pig_word = word + 'ay'
    else:
        pig_word = word[1:] + first_letter + ay
        
    return pig_word

pig_latin('apple')

'appleay'

In [39]:
# Python Function exercises.

def lesser_of_two_evens(n1,n2):
    if n1 % 2 ==0 and n2 % 2 == 0:
        return n1
    
    elif n1 % 3 == 2 or n2%3==2:
        return n2

In [40]:
lesser_of_two_evens(2,4)

2

In [41]:
lesser_of_two_evens(2,5)

5

In [42]:
# Better alternative.

def lesser_of_two_evens(n1,n2):
    if n1 % 2 ==0 and n2 % 2 == 0:
        return min(n1,n2)
    else:
        return max(n1,n2)

In [43]:
lesser_of_two_evens(2,4)

2

In [44]:
lesser_of_two_evens(2,5)

5

In [76]:
animal_crackers = ('Levelheaded Llama')
split = animal_crackers.split()
print (split)

['Levelheaded', 'Llama']

In [81]:
def animal_crackers(text):
    word_list = text.split()
    
    return word_list[0][0] == word_list[1][0]
    # Remeber if there is an extra space added to the st.
    
animal_crackers('Levelheaded Llama')

True

In [82]:
animal_crackers('Crazy Kangaroo')

False

In [86]:

def makes_twenty(n1,n2):
    
    if n1 == 20 or n2 == 20 or n1+n2==20:
        return True
    else:
        return False

In [87]:
makes_twenty(20,10)

True

In [88]:
makes_twenty(2,3)

False

In [96]:
def old_macdonald(name):
    
    if len(name) > 3:
        return name [:3].capitalize() + name[3:].capitalize()
    else:
        return 'name is too short'

In [98]:
old_macdonald('dessoon')

'DesSoon'

In [101]:
def max_of_two(x,y):
    if x > y or x < y:
        return max(x,y)

In [103]:
max_of_two(12,9)

12

In [104]:
def sum_of_num(a,b,c,d,e):
    return a + b + c + d + e

In [105]:
sum_of_num(8, 2, 3, 0, 7)

20

In [107]:
def sum_of_num(numbers):
    total=0
    for x in numbers:
        total+=x
    return total

sum_of_num(8,2,3,0,7)

TypeError: sum_of_num() takes 1 positional argument but 5 were given

In [109]:
def lesser_of_two_evens(a,b):
    if a%2==0 or b%2==0:
        return min(a,b)
    else:
        return max(a,b)

In [110]:
lesser_of_two_evens(2,4)

2

In [111]:

def animal_crackers(text):
    
    letter=text.split()
    
    if letter[0][0]==letter[1][0]:
        return True
    else:
        return False

In [112]:
animal_crackers('Levelheaded Llama')

True

In [113]:
animal_crackers('Crazy Kangaroo')

False

In [114]:
def makes_twenty(n1,n2):
    
    if n1+n2==20 or n1 == 20 or n2 == 20:
        return True
    else:
        return False

In [115]:
makes_twenty(20,10)

True

In [116]:
makes_twenty(2,3)

False

In [117]:
def convert_km(miles):
    return 1.6*miles

km = convert_km(4)

In [118]:
km

6.4

In [125]:

def lesser_of_two_evens(a,b):
    if a % 2 ==0 and b%2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [126]:
lesser_of_two_evens(2,4)

2

In [127]:
lesser_of_two_evens(2,5)

5

In [3]:
def animal_crackers(text):
    for letter in text.split():
        if letter[0][0] == letter[0][0]:
            return True
        else:
            return False
# This is the wrong approach because you set a iterate through every letter!

In [4]:
animal_crackers('Crazy Kangaroo')

True

In [18]:
# attach the .split method to a variable first.
# s_word[0][0] == s_word[1][0] means,
# Grab is the first item at the first index equals to
# The Second item at the first index equals to
def animal_crackers(text):
    s_word=text.split()
    return s_word[0][0] == s_word[1][0]

In [19]:
animal_crackers('Levelheaded Llama')

True

In [20]:
animal_crackers('Crazy Kangaroo')

False

In [21]:
def makes_twenty(n1,n2):
    if n1+n2==20 or n1 == 20 or n2 == 20:
        return True
    else:
        return False

In [22]:
makes_twenty(20,10)

True

In [24]:
makes_twenty(2,3)

False

In [26]:
makes_twenty(12,8)

True

In [27]:
makes_twenty(13,7)

True

In [32]:
def old_macdonald(name):
    if len(name) > 3:
        return name[:3].capitalize() + name[3:].capitalize()
    else:
        return 'Name is too short'

In [34]:
old_macdonald('Des')

'Name is too short'

In [39]:
def master_yoda(text):
    return " ".join((text.split()[::-1]))

In [40]:
master_yoda('I am home')

'home am I'

In [41]:
master_yoda('We are ready')

'ready are We'

In [57]:
def almost_there(n):
    return abs(100-n) <= 10 or abs(200-n) <=10

In [58]:
almost_there(104)

True

In [59]:
almost_there(150)

False

In [71]:
num = range(0,-2,-1)

In [73]:
list(range(0,-2))

[]

In [81]:
def has_33(nums):
    # for x in the range of the lenght of the (arg) in the step -1
    for x in range(0,len(nums)-1):
        # if x equal to 3 and x + next to x is == 0
        if x == 3 and x+1 == 3:
            return True
        else:
            return False

In [82]:
has_33([1, 3, 3])

False

In [85]:
def has_33(nums):
    for x in range(0,len(nums)-1):
        if nums[x:x+2] == [3,3]:
            return True
    return False

In [86]:
has_33([1, 3, 3])

True

In [89]:
def paper_doll(text):
    result =''
    for paper in text:
        result+=paper*3
    return result

In [90]:
paper_doll('Hello')

'HHHeeellllllooo'

In [96]:
def blackjack(a,b,c):
    if sum((a,b,c))<= 21:
        return sum((a,b,c))
    elif sum((a,b,c))<=31 and 11 in ((a,b,c)):
        return sum((a,b,c)) - 10
    else:
        return 'Bust'

In [97]:
blackjack(5,7,9)

21

In [99]:
blackjack(9,9,9)

'Bust'

In [100]:
blackjack(9,9,11)

19

In [101]:
def summer_69(arr):
    total = 0
    add = True
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [105]:
summer_69([4, 5, 6, 9, 8, 6])

17

In [106]:
print('hello world')

hello world

In [109]:
mynumber =('hello')

In [110]:
mynumber

'hello'

True